.textTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-decoration: none;
}
/* đổi màu chữ khi nền trắng lộ ra */
.textTitle:hover {
    color: #ff324d;
}
.desc {
    font-weight: bold;
    color: #ff324d;
}
.cardWrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Ảnh */
.cardWrapper img {
    width: 100%;
    display: block;
    transition: transform 0.4s ease;
}

/* Hover zoom ảnh */
.cardWrapper:hover img {
    transform: scale(1.05);
}

/* Overlay */
.overLay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: 0.4s ease;
}

/* Hover tối ảnh */
.cardWrapper:hover .overLay {
    background: rgba(0, 0, 0, 0.3);
}

/* Heart wrapper */
.containerHeart {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(40px);
    opacity: 0;
    transition: 0.4s ease;
}

/* Hover hiện heart */
.cardWrapper:hover .containerHeart {
    transform: translateY(0);
    opacity: 1;
}

/* Icon style */
.containerHeart svg {
    width: 40px;
    height: 40px;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

/* Hover icon */
.containerHeart svg:hover {
    background: #ff324d;
    color: #fff;
}
