VITE_FIREBASE_STORAGE_BUCKET = 
VITE_FIREBASE_MESSAGING_SENDER_ID = 
VITE_FIREBASE_APP_ID = 
URL_FE = http://localhost:5173
URL_BE = http://localhost:3000
PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/GameNro
URL_THE_SIEU_RE = 
BANK = 
ACC = 
TEMPLATE = 
SHOWINFO=true
HOLDER = 
SEPAY_WEBHOOK_SECRET = 
VITE_BE_URL_NgRok = 
SECRET_KEY =
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=