.btnBuy {
    width: 142px;
    height: 45px;
    background-color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    border: 1px solid #ff324d;
}

/* chữ */
.btnBuy span {
    position: relative;
    z-index: 2;
    color: #fff;
    transition: 0.3s;
}

/* 2 lớp đỏ */
.btnBuy::before,
.btnBuy::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #ff324d;
    transition: transform 0.5s ease;
    z-index: 1;
}

/* trái */
.btnBuy::before {
    left: 0;
}

/* phải */
.btnBuy::after {
    right: 0;
}

/* hover tản ra */
.btnBuy:hover::before {
    transform: translateX(-100%);
}

.btnBuy:hover::after {
    transform: translateX(100%);
}
.btnBuy:hover span {
    color: #ff324d;
}
