.containerCard {
    width: 350px;
    overflow: hidden;
}
.listBlogMeta {
    padding: 0;
}
.listBlogMeta li {
    list-style-type: none;
    display: inline-block;
    margin-right: 8px;
}
.containerCard img {
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.containerCard:hover img {
    transform: scale(1.2);
}
.title {
    cursor: pointer;
}
.title:hover {
    color: #ff324d;
}
.desc {
    opacity: 0.8;
    line-height: 1.6;
}
