.memberSidebar a {
    color: #000;
}
#passwordForm {
    position: relative;
}
#iconEye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
    height: 100%;
}

.mainDashboardCard {
    border-radius: 15px;
    background: #ffffff;
    border: none !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.letterSpacing1 {
    letter-spacing: 1px;
}

.statItemCard {
    background: #f8f9fa;
    transition: all 0.3s ease;
    border: 1px solid transparent !important;
}

.statItemCard:hover {
    transform: translateY(-5px);
    background: #ffffff;
    border-color: #e9ecef !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05) !important;
}

.iconBox {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Các lớp màu bổ trợ */
.bgLightPrimary {
    background-color: #e7f1ff;
}
.bgLightSuccess {
    background-color: #e6fcf5;
}
.bgLightInfo {
    background-color: #e3f8ff;
}
.bgLightDanger {
    background-color: #fff5f5;
}
.bgLightWarning {
    background-color: #fff9db;
}
